/*.......... CSS Reset........  */
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

/*......xx.... CSS Reset....xx....  */
.html5 img{
    width: 100px;
    margin-bottom: 10px;
}

.html5{
    width: 300px;
    height: 300px;
    padding: 30px 20px;
    text-align: center;
    margin: 50px auto;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.74);
}
.html5 h2{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}
.html5 p{
    margin-bottom: 30px;
    line-height: 25px;
    font-weight: 300px;
}
.learn_more{
    text-decoration: none;
    background: black;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1.2px;
}